<div class="row">
    <!-- [ Typography ] start -->
    <div class="col-sm-12">
        <app-card cardTitle="Sites/Locations">
            <div class="row g-1">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6 text-end"><a href="javascript:" (click)="OpenLocationDetails()" class="btn btn-success">+ Add Location</a></div>
                </div>
                
                <div class="col-md-12 mb-3">
                    
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NAME.</th>
                                    <!--<th>ADDRESS</th>-->
                                    <th>SIZE</th>
                                    <th>GPS</th>
                                    <th class="text-end">PRICE</th>
                                    <th class="text-end">STATUS</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (s of sites; track s; let i=$index) {
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>
                                        <a href="javascript:"
                                            (click)="OpenEdit(s.sitename,s.address,s.size,s.gps,s.price,s.status,s.siteid)"
                                            class="text-muted">{{ s.sitename }}</a>
                                           <!-- <a href="javascript:" class="text-muted">{{ s.sitename }}</a>-->
                                    </td>
                                    <!--<td>{{ s.address }}</td>-->
                                    <td>
                                        <span class="d-block">
                                            <i class="badge-circle {{ s.status_type }} f-10 m-r-5"></i>
                                            {{ s.size }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="d-block">
                                            <i class="badge-circle {{ s.status_type }} f-10 m-r-5"></i>
                                            {{ s.gps }}
                                        </span>
                                    </td>
                                    <td class="text-center">{{ s.price | currency:'N'}}</td>
                                    <td class="text-center">
                                        @if(s.status===1){
                                        <div style="background-color: green !important;color: white; padding: 5px;">Available</div>
                                        }
                                        @if(s.status===0){
                                        <div style="background-color: red !important;color: white; padding: 5px;">Unavailable</div>
                                        }
                                        @if(s.status===2){
                                        <div style="background-color: yellow !important;color: black; padding: 5px;">Occupied</div>
                                        }
                    
                                    </td>
                                    <td>
                                        @if(s.status===1){
                                        <a href="javascript:" (click)="OpenAddReservation(s.sitename,s.address,s.size,s.gps,s.price,s.status,s.siteid)"
                                        class="text-muted">Make Reservations</a>
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </app-card>
      
    </div>
    <!-- [ Typography ] end -->
</div>
<dialog id="dialog" #modal>
    <h4 class="text-center text-primary mb-4 fw-semibold">
        Add New Location
    </h4>
    
    <form [formGroup]="siteForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
            <label class="form-label">Site Name</label>
            <input type="text" class="form-control" formControlName="sitename" name="sitename"
                placeholder="Enter site name" />
                <div class="text-danger small" *ngIf="f.sitename.touched && f.sitename.invalid">
                    Site name is required.
                </div>
        </div>
    
        <div class="mb-3">
            <label class="form-label">Address</label>
            <textarea class="form-control" formControlName="address" name="address" rows="2" 
                placeholder="Enter full address"></textarea>
                <div class="text-danger small" *ngIf="f.address.touched && f.address.invalid">
                    Address must be at least 5 characters.
                </div>
        </div>
    
        <div class="mb-3">
            <label class="form-label">Size (in sq m)</label>
            <input type="text" class="form-control" formControlName="size" name="size" placeholder="e.g. 250"  />
            <div class="text-danger small" *ngIf="f.size.touched && f.size.invalid">
                Size must be greater than 0.
            </div>
        </div>
    
        <div class="mb-3">
            <label class="form-label">GPS Coordinates</label>
            <input type="text" class="form-control" formControlName="gps"  name="gps" placeholder="e.g. 9.0765, 7.3986"
                />
                
<div class="text-danger small" *ngIf="f.size.touched && f.size.invalid">
    GPS is required.
</div>
                
                
        </div>
    
    <div class="mb-3">
        <label class="form-label">Status</label>
        <select class="form-select" formControlName="status">
            <option value="" disabled>Select status</option>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
            
        </select>
        <div class="text-danger small" *ngIf="f.status.touched && f.status.invalid">
            Status is required.
        </div>
    </div>
    
    <div class="mb-4">
        <label class="form-label">Price (₦)</label>
        <input type="number" class="form-control" formControlName="price" placeholder="Enter price" />
        <div class="text-danger small" *ngIf="f.price.touched && f.price.invalid">
            Price must be 0 or higher.
        </div>
    </div>
    
        <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
            {{ loading ? 'Saving...' : 'Submit' }}
        </button>
    </form>

    
    
    <div class="text-center mt-3">
        <small class="text-success">{{ message }}</small>
    </div>




   
<hr />
    <button class="text-end" (click)="close()">Close</button>
</dialog>

<dialog id="dialog" #editmodal>
    <h4 class="text-center text-primary mb-4 fw-semibold">
        Edit Location
    </h4>

    <form [formGroup]="editSiteForm" (ngSubmit)="updateForm()">
        <div class="mb-3">
            <label class="form-label">Site Name</label>
            <input type="text" class="form-control" formControlName="sitename" name="sitename"
                placeholder="Enter site name" />
            <div class="text-danger small" *ngIf="e.sitename.touched && e.sitename.invalid">
                Site name is required.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <textarea class="form-control" formControlName="address" name="address" rows="2"
                placeholder="Enter full address"></textarea>
            <div class="text-danger small" *ngIf="e.address.touched && e.address.invalid">
                Address must be at least 5 characters.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Size (in sq m)</label>
            <input type="text" class="form-control" formControlName="size" name="size" placeholder="e.g. 250" />
            <div class="text-danger small" *ngIf="e.size.touched && e.size.invalid">
                Size must be greater than 0.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">GPS Coordinates</label>
            <input type="text" class="form-control" formControlName="gps" name="gps"
                placeholder="e.g. 9.0765, 7.3986" />

            <div class="text-danger small" *ngIf="e.size.touched && e.size.invalid">
                GPS is required.
            </div>


        </div>

        <div class="mb-3">
            <label class="form-label">Status</label>
            <select class="form-select" formControlName="status">
                <option value="" disabled>Select status</option>
                <option value="1">Active</option>
                <option value="0">Inactive</option>

            </select>
            <div class="text-danger small" *ngIf="e.status.touched && e.status.invalid">
                Status is required.
            </div>
        </div>

        <div class="mb-4">
            <label class="form-label">Price (₦)</label>
            <input type="number" class="form-control" formControlName="price" placeholder="Enter price" />
            <div class="text-danger small" *ngIf="e.price.touched && e.price.invalid">
                Price must be 0 or higher.
            </div>
        </div>

        <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
            {{ loading ? 'Saving...' : 'Update' }}
        </button>
    </form>



    <div class="text-center mt-3">
        <small class="text-success">{{ message }}</small>
    </div>

  
   


    <hr />
    <button class="text-end" (click)="closeEdit()">Close</button>
</dialog>

<dialog id="dialog" #addmodal>
    <h4 class="text-center text-primary mb-4 fw-semibold">
       Make Reservations: {{locationname}}
    </h4>
    @if(success){
    <div class="text-center mt-3">
        <small class="text-success">{{ message }}</small>
    </div>
}
@if(failed){
    <div class="text-center mt-3">
        <small class="text-danger">{{ message }}</small>
    </div>
}
    <form [formGroup]="bookingsForm" (ngSubmit)="makeReservation()">
        <div class="mb-3">
            <label class="form-label">Customer Name</label>
            <select class="form-select" formControlName="customerID">
                <option value="" disabled>Select Customer</option>
                @for (c of customers; track c; let i=$index) {
                <option value="{{c.customerID}}">{{c.name}}</option>
                }              
            
            </select>
            
            <div class="text-danger small" *ngIf="g.customerID.touched && g.customerID.invalid">
                Select a customer.
            </div>
        </div>

       

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" class="form-control" formControlName="price" name="price"  />
            <div class="text-danger small" *ngIf="g.price.touched && g.price.invalid">
                Location Price must be greater than 0.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Agreed Price</label>
            <input type="number" class="form-control" formControlName="agreedprice" name="agreedprice"
                 />

            <div class="text-danger small" *ngIf="g.agreedprice.touched && g.agreedprice.invalid">
                Price is required.
            </div>


        </div>
        <div class="mb-3">
            <label class="form-label">Paid</label>
            <input type="number" class="form-control" formControlName="paid" name="paid" />
        
            <div class="text-danger small" *ngIf="g.agreedprice.touched && g.agreedprice.invalid">
                Amount Paid is required.
            </div>
        
        
        </div>
<div class="mb-3">
    <label class="form-label">Start Date</label>
    <input type="date" class="form-control" formControlName="startDate" name="startDate" />

    <div class="text-danger small" *ngIf="g.startDate.touched && g.startDate.invalid">
        Start Date is required.
    </div>


</div>
<div class="mb-3">
    <label class="form-label">End Date</label>
    <input type="date" class="form-control" formControlName="endDate" name="endDate" />

    <div class="text-danger small" *ngIf="g.endDate.touched && g.endDate.invalid">
        End Date is required.
    </div>


</div>
<div class="mb-3">
    <label class="form-label">Payment Method</label>
    <select class="form-select" formControlName="paymentMethod">
        <option value="" disabled>Select Payment Method</option>
        @for (p of paymentmethods; track p; let i=$index) {
        <option value="{{p.id}}">{{p.name}}</option>
        }

    </select>

    <div class="text-danger small" *ngIf="g.paymentMethod.touched && g.paymentMethod.invalid">
        Select Payment Method.
    </div>
</div>
<div class="mb-3">
    <label class="form-label">Select Payment Proof</label>
    <input type="file" (change)="onFileSelected($event)" />
    <div *ngIf="uploadedUrl">
        <p>Uploaded File:</p>
        <a [href]="uploadedUrl" target="_blank">{{ uploadedUrl }}</a>
        <img *ngIf="uploadedUrl" [src]="uploadedUrl" width="200" />
    </div>
</div>



        <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
            {{ loading ? 'Saving...' : 'Book' }}
        </button>
    </form>



    <div class="text-center mt-3">
        <small class="text-success">{{ message }}</small>
    </div>





    <hr />
    <button class="text-end" (click)="closeAddReservation()">Close</button>
</dialog>
<dialog id="dialog" #receiptmodal>
    <h4 class="text-center text-primary mb-4 fw-semibold">
       OFFICIAL RECEIPT
    </h4>
    <hr />
    <div class="receipt-wrap">
        <div class="card">
            <div class="card-header">
                <div class="logo" aria-hidden="true">
                    <!-- local logo path you uploaded -->
                    <img src="../../../../assets/images/agllogo.png" alt="AGL Signs Logo" />
                </div>
    
                <div class="company">
                    <h1>AGL Signs Ltd</h1>
                    <p>Murg Plaza, Aea 10, Garki, Abuja<br />Email: info&#64;aglsins.com.ng·
                        Phone: +234 803 251 8766</p>
                </div>
    
                <div class="meta" role="status" aria-label="receipt summary">
                    <div class="tag">RECEIPT</div>
                    <p style="margin-top:10px"><strong>Receipt #</strong> <span
                            style="display:block;font-weight:700;color:var(--text)">{{transID}}</span></p>
                    <p><strong>Date</strong> <br /><span style="display:block">{{transDate | date:'medium'}}</span></p>
                </div>
            </div>
    
            <div class="card-body">
                <div class="bill-to">
                    <div class="bill-item">
                        <h3>Bill To</h3>
                        <p><strong>{{customerName}}</strong><br />{{customerAddress}}<br />{{customerEmail}}<br />{{customerPhone}}
                        </p>
                    </div>
    
                    <div class="bill-item" style="text-align:right;">
                        <h3>Payment Method</h3>
                        <p>{{methodName}}
                            <br />Transaction: <span style="font-weight:700">TRX-987654</span></p>
                        <p style="margin-top:10px"><strong>Due Date</strong><br />{{transDate | date:'medium'}}</p>
                    </div>
                </div>
    
                <table class="items" aria-labelledby="items-heading">
                    <thead>
                        <tr>
                            <th>Item / Description</th>
                            <th class="qty">Qty</th>
                            
                            <th class="line-total">Line Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Payment for Advert — {{locationname}} from {{startDate}} - {{endDate}}</td>
                            <td class="qty">1</td>
                            
                            <td class="line-total">{{totalPaid | currency:'₦'}}</td>
                        </tr>
                    
                    </tbody>
                </table>
    
                <div class="totals" aria-hidden="true">
                    <div class="totals-table" role="table" aria-label="totals">
                        <div class="row"><span>Total Amount </span><strong>{{totalAmount | currency:'₦'}}</strong></div>
                        <div class="row"><span>Total Paid</span><span>{{totalPaid | currency:'₦'}}</span></div>
                        <div class="row"><span>Balance</span><span>{{totalBalance | currency:'₦'}}</span></div>
                        <div class="row total"><span>Total Paid</span><span>{{totalPaid | currency:'₦'}}</span></div>
                    </div>
                </div>
    
                <div class="notes">
                    <strong>Notes:</strong>
                    <p>Thank you for your business. This receipt confirms payment received for Advert at — {{locationname}} from {{startDate}} - {{endDate}}.
                        Refunds are subject to our terms and conditions. Contact support at
                        info&#64;aglsigns.com.ng for inquiries.</p>
                </div>
            </div>
    
            <div class="footer">
                <div>
                    <strong>Invoice ID:</strong> {{transID}}<br />
                    <small style="color:var(--muted)">Powered by C-Digitech Solutions Ltd</small>
                </div>
                <div>
                    <small style="color:var(--muted)">Prepared on <!-- JS will fill --> <span
                            id="preparedOn"></span></small>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary text-end" (click)="closeReceipt()">Close</button>
    <hr />
</dialog>
