<div class="row">
    <!-- [ Typography ] start -->
    <div class="col-sm-12">
        <app-card cardTitle="Customers">
            <div class="row g-1">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6 text-end"><a href="javascript:" (click)="OpenLocationDetails()"
                            class="btn btn-success">+ Add Customers</a></div>
                </div>

                <div class="col-md-12 mb-3">

                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>DATE JOINED</th>
                                    <th>NAME.</th>
                                    <th>ADDRESS</th>
                                    <th>EMAIL</th>
                                    <th>PHONE</th>                            
                                    <th class="text-end">STATUS</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (c of customers; track c; let i=$index) {
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{c.created_at | date:'medium'}}</td>
                                    <td>
                                        <a href="javascript:"
                                            (click)="OpenEdit(c.name,c.address,c.email,c.phone,c.contactPerson,c.status,c.customerID)"
                                            class="text-muted">{{ c.name }}</a>
                                        <!-- <a href="javascript:" class="text-muted">{{ s.sitename }}</a>-->
                                    </td>
                                    <!--<td>{{ s.address }}</td>-->
                                    <td>
                                        <span class="d-block">
                                            <i class="badge-circle f-10 m-r-5"></i>
                                            {{ c.address }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="d-block">
                                            <i class="badge-circle f-10 m-r-5"></i>
                                            {{ c.email }}
                                        </span>
                                    </td>
                                    <td class="text-start">{{ c.phone}}</td>
                                    <td class="text-end">
                                        @if(c.status===1){
                                        <div style="background-color: green !important;color: white; padding: 5px;">
                                            Active</div>
                                        }
                                        @if(c.status===0){
                                        <div style="background-color: red !important;color: white; padding: 5px;">
                                            Inactive</div>
                                        }
                                    

                                    </td>
                                    <td><a href="javascript:" (click)="OpenResevations(c.name,c.customerID)"
                                        class="text-muted">View Reservations</a> | 
                                        <a href="javascript:" (click)="OpenEdit(c.name,c.address,c.email,c.phone,c.contactPerson,c.status,c.customerID)"
                                            class="text-muted">Make Reservations</a>
                                    
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </app-card>

    </div>
    <!-- [ Typography ] end -->
</div>
<dialog id="dialog" #modal>
    <h4 class="text-center text-primary mb-4 fw-semibold">
        Add New Customer
    </h4>

    <form [formGroup]="customerForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
            <label class="form-label">Customer Name</label>
            <input type="text" class="form-control" formControlName="name" name="sitename"
                placeholder="Enter site name" />
            <div class="text-danger small" *ngIf="f.name.touched && f.name.invalid">
                Customer name is required.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <textarea class="form-control" formControlName="address" name="address" rows="2"
                placeholder="Enter full address"></textarea>
            <div class="text-danger small" *ngIf="f.address.touched && f.address.invalid">
                Address must be at least 5 characters.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" name="email" placeholder="info@gmail.com" />
            <div class="text-danger small" *ngIf="f.email.touched && f.email.invalid">
                Invalid Email or Email is required.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="tel" class="form-control" formControlName="phone" name="phone" placeholder="08012345678" />
            <div class="text-danger small" *ngIf="f.phone.touched && f.phone.invalid">
                Invalid Phone or Phone is Required.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Contact Person</label>
            <input type="text" class="form-control" formControlName="contactPerson" name="contactPerson"
                placeholder="Mr. John Doe" />

            <div class="text-danger small" *ngIf="f.contactPerson.touched && f.contactPerson.invalid">
                GPS is required.
            </div>


        </div>


      

        <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
            {{ loading ? 'Saving...' : 'Submit' }}
        </button>
    </form>



    <div class="text-center mt-3">
        <small class="text-success">{{ message }}</small>
    </div>





    <hr />
    <button class="btn btn-primary text-end" (click)="close()">Close</button>
</dialog>

<dialog id="dialog" #editmodal>
    <h4 class="text-center text-primary mb-4 fw-semibold">
        Edit Location
    </h4>

    <form [formGroup]="editCustomerForm" (ngSubmit)="updateForm()">
        <div class="mb-3">
            <label class="form-label">Site Name</label>
            <input type="text" class="form-control" formControlName="name" name="name"
                placeholder="Enter site name" />
            <div class="text-danger small" *ngIf="e.name.touched && e.name.invalid">
                Customer name is required.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <textarea class="form-control" formControlName="address" name="address" rows="2"
                placeholder="Enter full address"></textarea>
            <div class="text-danger small" *ngIf="e.address.touched && e.address.invalid">
                Address must be at least 5 characters.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" name="email" placeholder="info@gmail.com" />
            <div class="text-danger small" *ngIf="e.email.touched && e.email.invalid">
                Invalid Email
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="tel" class="form-control" formControlName="phone" name="phone"
                placeholder="" />

            <div class="text-danger small" *ngIf="e.phone.touched && e.phone.invalid">
                Phone is required.
            </div>


        </div>
        <div class="mb-3">
            <label class="form-label">Contact Person</label>
            <input type="text" class="form-control" formControlName="contactPerson" name="contactPerson" placeholder="" />
        
            <div class="text-danger small" *ngIf="e.contactPerson.touched && e.contactPerson.invalid">
                Contact Person is required.
            </div>
        
        
        </div>

        <div class="mb-3">
            <label class="form-label">Status</label>
            <select class="form-select" formControlName="status">
                <option value="" disabled>Select status</option>
                <option value="1">Active</option>
                <option value="0">Inactive</option>

            </select>
            <div class="text-danger small" *ngIf="e.status.touched && e.status.invalid">
                Status is required.
            </div>
        </div>

      

        <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
            {{ loading ? 'Saving...' : 'Update' }}
        </button>
    </form>



    <div class="text-center mt-3">
        <small class="text-success">{{ message }}</small>
    </div>





    <hr />
    <button class="btn btn-primary text-end" (click)="closeEdit()">Close</button>
</dialog>

<dialog id="dialog" #viewreservations>
    <h4 class="text-center text-primary mb-4 fw-semibold">
       View Reservations: {{customerName}}
    </h4>
    <hr />

<table class="table table-hover mb-0">
    <thead>
        <tr>
            <th>#</th>
            <th>DATE</th>
            
            <th>SITE</th>
            <th>START DATE</th>
            <th>END DATE</th>
            <th>AMOUNT</th>
            <th>PAID</th>
            <th>BALANCE</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @for (r of reservations; track r; let i=$index) {
        <tr>
            <td>{{i+1}}</td>
            <td>{{r.created_at | date:'medium'}}</td>
            <td>{{r.sitename}}</td>
            <td>{{r.startDate}}</td>
            <td>{{r.endDate}}</td>
           
            <td>
                <span class="d-block">
                    <i class="badge-circle f-10 m-r-5"></i>
                    {{ r.agreedprice | currency:'N' }}
                </span>
            </td>
            <td>
                <span class="d-block">
                    <i class="badge-circle f-10 m-r-5"></i>
                    {{ r.paid | currency:'N' }}
                </span>
            </td>
            <td class="text-start">{{ r.balance | currency:'N'}}</td>
            <td class="text-end">
                
                @if(r.status==1){
                <div style="background-color: green !important;color: white; padding: 5px;">
                    Active</div>
                }
                @if(r.status==0){
                <div style="background-color: red !important;color: white; padding: 5px;">
                    Inactive</div>
                }


            </td>
            <td><a href="javascript:" (click)="updateBookingStatus(r.status,r.bookingsID,r.customerID)" class="bg bg-success text-white p-2">Update</a> |
                <a href="javascript:" (click)="updateBookingStatus(r.status,r.bookingsID,r.customerID)" class="bg bg-success text-white p-2">Pay</a>
               
            </td>
        </tr>
        }
    </tbody>
</table>
   



   





    <hr />
    <button class="btn btn-primary text-end" (click)="closeViewReserve()">Close</button>
</dialog>