dialog {
    width: 120vw;
    /* wider */
    max-width: 1200px;
    /* optional limit */
    //height: 70vh;
    /* taller */
    //padding: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.35);
}

/*dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}*/