<div class="row">
    <!-- [ Typography ] start -->
    <div class="col-sm-12">
        <app-card cardTitle="Customers">
            <div class="row g-1">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6 text-end"><a href="javascript:" (click)="OpenLocationDetails()"
                            class="btn btn-success">+ Add Customers</a></div>
                </div>

                <div class="col-md-12 mb-3">

                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>DATE JOINED</th>
                                    <th>NAME.</th>
                                    <th>ADDRESS</th>
                                    <th>EMAIL</th>
                                    <th>PHONE</th>                            
                                    <th class="text-end">STATUS</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (c of customers; track c; let i=$index) {
                                <tr>
                                    <td>{{i+1}}</td>
                                    <td>{{c.created_at | date:'medium'}}</td>
                                    <td>
                                        <a href="javascript:"
                                            (click)="OpenEdit(c.name,c.address,c.email,c.phone,c.contactPerson,c.status,c.customerID)"
                                            class="text-muted">{{ c.name }}</a>
                                        <!-- <a href="javascript:" class="text-muted">{{ s.sitename }}</a>-->
                                    </td>
                                    <!--<td>{{ s.address }}</td>-->
                                    <td>
                                        <span class="d-block">
                                            <i class="badge-circle f-10 m-r-5"></i>
                                            {{ c.address }}
                                        </span>
                                    </td>
                                    <td>
                                        <span class="d-block">
                                            <i class="badge-circle f-10 m-r-5"></i>
                                            {{ c.email }}
                                        </span>
                                    </td>
                                    <td class="text-start">{{ c.phone}}</td>
                                    <td class="text-end">
                                        @if(c.status===1){
                                        <div style="background-color: green !important;color: white; padding: 5px;">
                                            Active</div>
                                        }
                                        @if(c.status===0){
                                        <div style="background-color: red !important;color: white; padding: 5px;">
                                            Inactive</div>
                                        }
                                    

                                    </td>
                                    <td><a href="javascript:" (click)="OpenResevations(c.name,c.customerID)"
                                        class="text-muted">View Reservations</a>
                                    
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </app-card>

    </div>
    <!-- [ Typography ] end -->
</div>
<dialog id="dialog" #modal>
    <h4 class="text-center text-primary mb-4 fw-semibold">
        Add New Customer
    </h4>

    <form [formGroup]="customerForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
            <label class="form-label">Customer Name</label>
            <input type="text" class="form-control" formControlName="name" name="sitename"
                placeholder="Enter site name" />
            <div class="text-danger small" *ngIf="f.name.touched && f.name.invalid">
                Customer name is required.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <textarea class="form-control" formControlName="address" name="address" rows="2"
                placeholder="Enter full address"></textarea>
            <div class="text-danger small" *ngIf="f.address.touched && f.address.invalid">
                Address must be at least 5 characters.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" name="email" placeholder="info@gmail.com" />
            <div class="text-danger small" *ngIf="f.email.touched && f.email.invalid">
                Invalid Email or Email is required.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="tel" class="form-control" formControlName="phone" name="phone" placeholder="08012345678" />
            <div class="text-danger small" *ngIf="f.phone.touched && f.phone.invalid">
                Invalid Phone or Phone is Required.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Contact Person</label>
            <input type="text" class="form-control" formControlName="contactPerson" name="contactPerson"
                placeholder="Mr. John Doe" />

            <div class="text-danger small" *ngIf="f.contactPerson.touched && f.contactPerson.invalid">
                GPS is required.
            </div>


        </div>


      

        <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
            {{ loading ? 'Saving...' : 'Submit' }}
        </button>
    </form>



    <div class="text-center mt-3">
        <small class="text-success">{{ message }}</small>
    </div>





    <hr />
    <button class="btn btn-primary text-end" (click)="close()">Close</button>
</dialog>

<dialog id="dialog" #editmodal>
    <h4 class="text-center text-primary mb-4 fw-semibold">
        Edit Location
    </h4>

    <form [formGroup]="editCustomerForm" (ngSubmit)="updateForm()">
        <div class="mb-3">
            <label class="form-label">Site Name</label>
            <input type="text" class="form-control" formControlName="name" name="name"
                placeholder="Enter site name" />
            <div class="text-danger small" *ngIf="e.name.touched && e.name.invalid">
                Customer name is required.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <textarea class="form-control" formControlName="address" name="address" rows="2"
                placeholder="Enter full address"></textarea>
            <div class="text-danger small" *ngIf="e.address.touched && e.address.invalid">
                Address must be at least 5 characters.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" name="email" placeholder="info@gmail.com" />
            <div class="text-danger small" *ngIf="e.email.touched && e.email.invalid">
                Invalid Email
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="tel" class="form-control" formControlName="phone" name="phone"
                placeholder="" />

            <div class="text-danger small" *ngIf="e.phone.touched && e.phone.invalid">
                Phone is required.
            </div>


        </div>
        <div class="mb-3">
            <label class="form-label">Contact Person</label>
            <input type="text" class="form-control" formControlName="contactPerson" name="contactPerson" placeholder="" />
        
            <div class="text-danger small" *ngIf="e.contactPerson.touched && e.contactPerson.invalid">
                Contact Person is required.
            </div>
        
        
        </div>

        <div class="mb-3">
            <label class="form-label">Status</label>
            <select class="form-select" formControlName="status">
                <option value="" disabled>Select status</option>
                <option value="1">Active</option>
                <option value="0">Inactive</option>

            </select>
            <div class="text-danger small" *ngIf="e.status.touched && e.status.invalid">
                Status is required.
            </div>
        </div>

      

        <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
            {{ loading ? 'Saving...' : 'Update' }}
        </button>
    </form>



    <div class="text-center mt-3">
        <small class="text-success">{{ message }}</small>
    </div>





    <hr />
    <button class="btn btn-primary text-end" (click)="closeEdit()">Close</button>
</dialog>

<dialog id="dialog" #viewreservations>
    <h4 class="text-center text-primary mb-4 fw-semibold">
       View Reservations: {{customerName}}
    </h4>
    <hr />

<table class="table table-hover mb-0">
    <thead>
        <tr>
            <th>#</th>
            <th>DATE</th>
            
            <th>SITE</th>
            <th>START DATE</th>
            <th>END DATE</th>
            <th>AMOUNT</th>
            <th>PAID</th>
            <th>BALANCE</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @for (r of reservations; track r; let i=$index) {
        <tr>
            <td>{{i+1}}</td>
            <td>{{r.created_at | date:'medium'}}</td>
            <td>{{r.sitename}}</td>
            <td>{{r.startDate}}</td>
            <td>{{r.endDate}}</td>
           
            <td>
                <span class="d-block">
                    <i class="badge-circle f-10 m-r-5"></i>
                    {{ r.agreedprice | currency:'N' }}
                </span>
            </td>
            <td>
                <span class="d-block">
                    <i class="badge-circle f-10 m-r-5"></i>
                    {{ r.paid | currency:'N' }}
                </span>
            </td>
            <td class="text-start">{{ r.balance | currency:'N'}}</td>
            <td class="text-end">
                
                @if(r.status==1){
                <div style="background-color: green !important;color: white; padding: 5px;">
                    Active</div>
                }
                @if(r.status==0){
                <div style="background-color: red !important;color: white; padding: 5px;">
                    Inactive</div>
                }


            </td>
            <td><a href="javascript:" (click)="updateBookingStatus(r.status,r.bookingsID,r.customerID)" class="bg bg-success text-white p-2">Update</a> 
                @if(r.balance > 0){
                |
                <a href="javascript:" (click)="openPayReservation(r.balance,r.bookingsID,r.customerID)" class="bg bg-success text-white p-2">Pay</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
   



   





    <hr />
    <button class="btn btn-primary text-end" (click)="closeViewReserve()">Close</button>
</dialog>

<dialog id="dialog" #makereservations>
    <h4 class="text-center text-primary mb-4 fw-semibold">
        Make Reservations: {{customerName}}
    </h4>
    <hr />
<form [formGroup]="editCustomerForm" (ngSubmit)="updateForm()">
    <div class="mb-3">
        <label class="form-label">Site Name</label>
        <input type="text" class="form-control" formControlName="name" name="name" placeholder="Enter site name" />
        <div class="text-danger small" *ngIf="e.name.touched && e.name.invalid">
            Customer name is required.
        </div>
    </div>
   

    <div class="mb-3">
        <label class="form-label">Address</label>
        <textarea class="form-control" formControlName="address" name="address" rows="2"
            placeholder="Enter full address"></textarea>
        <div class="text-danger small" *ngIf="e.address.touched && e.address.invalid">
            Address must be at least 5 characters.
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" name="email" placeholder="info@gmail.com" />
        <div class="text-danger small" *ngIf="e.email.touched && e.email.invalid">
            Invalid Email
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="tel" class="form-control" formControlName="phone" name="phone" placeholder="" />

        <div class="text-danger small" *ngIf="e.phone.touched && e.phone.invalid">
            Phone is required.
        </div>


    </div>
    <div class="mb-3">
        <label class="form-label">Contact Person</label>
        <input type="text" class="form-control" formControlName="contactPerson" name="contactPerson" placeholder="" />

        <div class="text-danger small" *ngIf="e.contactPerson.touched && e.contactPerson.invalid">
            Contact Person is required.
        </div>


    </div>

    <div class="mb-3">
        <label class="form-label">Status</label>
        <select class="form-select" formControlName="status">
            <option value="" disabled>Select status</option>
            <option value="1">Active</option>
            <option value="0">Inactive</option>

        </select>
        <div class="text-danger small" *ngIf="e.status.touched && e.status.invalid">
            Status is required.
        </div>
    </div>



    <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
        {{ loading ? 'Saving...' : 'Update' }}
    </button>
</form>









    <hr />
    <button class="btn btn-primary text-end" (click)="closeMakeReserve()">Close</button>
</dialog>

<dialog id="dialog" #payforreservations>
<h4 class="text-center text-primary mb-4 fw-semibold">
    Make Payment
</h4>

<form [formGroup]="payReservationForm" (ngSubmit)="payReservation()">
    
    <div class="mb-3">
        <label class="form-label">Amount Paid</label>
        <input type="number" class="form-control" formControlName="amount" name="paid" />

        <div class="text-danger small" *ngIf="g.amount.touched && g.amount.invalid">
            Amount Paid is required.
        </div>


    </div>
    
    <div class="mb-3">
        <label class="form-label">Payment Method</label>
        <select class="form-select" formControlName="paymentMethod">
            <option value="" disabled>Select Payment Method</option>
            @for (p of paymentmethods; track p; let i=$index) {
            <option value="{{p.id}}">{{p.name}}</option>
            }

        </select>

        <div class="text-danger small" *ngIf="g.paymentMethod.touched && g.paymentMethod.invalid">
            Select Payment Method.
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Select Payment Proof</label>
        <!--<input type="file" id="invoice" name="invoice" accept="image/*" required #invoice="ngModel"
            [(ngModel)]="ApplyObj.invoice" (change)="handleUpload($event)" class="form-control" required />-->
        <input type="file" (change)="onFileSelected($event)" />
        @if(uploadedUrl){
<p>Uploaded File:</p>

<img  [src]="base64" width="200" />
        }
     
    </div>



    <button type="submit" class="btn btn-primary w-100" [disabled]="loading">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
        {{ loading ? 'Saving...' : 'Make Payment' }}
    </button>
</form>



<div class="text-center mt-3">
    <small class="text-success">{{ message }}</small>
</div>





<hr />
<button class="btn btn-primary text-end" (click)="closeEdit()">Close</button>
</dialog>

<dialog id="dialog" #receiptmodal>
    <h4 class="text-center text-primary mb-4 fw-semibold">
        OFFICIAL RECEIPT
    </h4>
    <hr />
    <div class="receipt-wrap" id="receipt-wrap">
        <div class="card">
            <div class="card-header">
                <div class="logo" aria-hidden="true">
                    <!-- local logo path you uploaded -->
                    <img src="../../../../assets/images/agllogo.png" alt="AGL Signs Logo" />
                </div>

                <div class="company">
                    <h1>AGL Signs Ltd</h1>
                    <p>Murg Plaza, Aea 10, Garki, Abuja<br />Email: info&#64;aglsins.com.ng·
                        Phone: +234 803 251 8766</p>
                </div>

                <div class="meta" role="status" aria-label="receipt summary">
                    <div class="tag">RECEIPT</div>
                    <p style="margin-top:10px"><strong>Receipt #</strong> <span
                            style="display:block;font-weight:700;color:var(--text)">{{transID}}</span></p>
                    <p><strong>Date</strong> <br /><span style="display:block">{{transDate | date:'medium'}}</span></p>
                </div>
            </div>

            <div class="card-body">
                <div class="bill-to">
                    <div class="bill-item">
                        <h3>Bill To</h3>
                        <p><strong>{{customerName}}</strong><br />{{customerAddress}}<br />{{customerEmail}}<br />{{customerPhone}}
                        </p>
                    </div>

                    <div class="bill-item" style="text-align:right;">
                        <h3>Payment Method</h3>
                        <p>{{methodName}}
                            <br />Transaction: <span style="font-weight:700">TRX-987654</span>
                        </p>
                        <p style="margin-top:10px"><strong>Due Date</strong><br />{{transDate | date:'medium'}}</p>
                    </div>
                </div>

                <table class="items" aria-labelledby="items-heading">
                    <thead>
                        <tr>
                            <th>Item / Description</th>
                            <th class="qty">Qty</th>

                            <th class="line-total">Line Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Balance Paid for Advert  </td>
                            <td class="qty">1</td>

                            <td class="line-total">{{totalPaid | currency:'₦'}}</td>
                        </tr>

                    </tbody>
                </table>

                <div class="totals" aria-hidden="true">
                    <div class="totals-table" role="table" aria-label="totals">
                        <!--<div class="row"><span>Total Amount </span><strong>{{totalAmount | currency:'₦'}}</strong></div>
                        <div class="row"><span>Total Paid</span><span>{{totalPaid | currency:'₦'}}</span></div>
                        <div class="row"><span>Balance</span><span>{{totalBalance | currency:'₦'}}</span></div>-->
                        <div class="row total"><span>Total Paid</span><span>{{totalPaid | currency:'₦'}}</span></div>
                    </div>
                </div>

                <div class="notes">
                    <strong>Notes:</strong>
                    <p>Thank you for your business. This receipt confirms payment received for Advert 
                        Refunds are subject to our terms and conditions. Contact support at
                        info&#64;aglsigns.com.ng for inquiries.</p>
                </div>
            </div>

            <div class="footer">
                <div>
                    <strong>Invoice ID:</strong> {{transID}}<br />
                    <small style="color:var(--muted)">Powered by C-Digitech Solutions Ltd</small>
                </div>
                <div>
                    <small style="color:var(--muted)">Prepared on <!-- JS will fill --> <span
                            id="preparedOn"></span></small>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary text-end" (click)="closeReceipt()">Close</button> &nbsp;
    <button class="btn btn-success" (click)="onPrint('receipt-wrap')">Print</button>
    <hr />
</dialog>