.card {
  .card-body.dashboard-card {
    padding: 18px;
    padding-bottom: 20px;
  }
}

.user-group {
  img {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.1s ease-in-out;
    border: 2px solid var(--bs-white);
    + img {
      margin-left: -14px;
    }
    &:hover {
      z-index: 5;
    }
  }
}

.badge-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

dialog {
  width: 80vw;
  /* wider */
  max-width: 900px;
  /* optional limit */
  height: 70vh;
  /* taller */
  padding: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.35);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
